html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.cuerpo {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000113 0%, #000113 60%, #01AFD9 70%, #01AFD9 100%);
}

/* LA TIERRA SE TIENE QUE ACHICAR, HACERLO REsPONSIVE (SI NO ROMPE TODA LA ALINEACIÓN DE LOS PLANETAS) */

.tierra {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.planetas {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    align-items: center;

    max-width: 500px;
}

.planetas_agrupados {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40%;

    justify-content: center;
    align-items: center;
}


#background {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 100vw, 100vw);
    color: white;
    text-align: center;

}

/* NAVE GALACTICAAA */

#nave {
    display: block;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    width: clamp(70px, 370px, 470px);
    bottom: 4.5%;
}

#plataforma {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 70%, 70%);
    color: white;
    text-align: center;

}

#NASA {
    z-index: 1;
    position: absolute;
    bottom: 3.1%;
    width: clamp(50px, 200px, 300px);
    left: 15%;
}

#nube:nth-child(1) {
    width: clamp(150px, 550px, 650px);
    transform: translate(-100%);
    z-index: 1;

}

#nube:nth-child(2) {
    width: clamp(250px, 350px, 450px);
    transform: translate(170%);
}

#nube:nth-child(3) {
    width: clamp(300px, 450px, 500px);
    transform: translate(-50%);
}

#satelite {
    width: clamp(150px, 300px, 450px);
    justify-content: center;
    transform: translate(-200%, -20%);
    padding: 20% 0 20% 0;

}

#luna {
    width: clamp(100px, 300px, 400px);
transform: translate(190%);

}

#saturnoChiquito {

    width: clamp(70px, 160px, 270px);
}


#planetaRojoChiqito {
    grid-column: 3 / 4;
    width: clamp(110px, 110px, 210px);
    object-fit: cover;

}

#marte {
    width: clamp(220px, 220px, 450px);

    grid-column: 1 / 3;
    object-fit: cover;
}

#planetaRojo {
    width: clamp(120px, 120px, 320px);
}

#jupiter {
    width: clamp(230px, 230px, 350px);

}

#planetaNegro {
    width: clamp(110px, 110px, 310px);
}

#saturno {
    width: clamp(250px, 350px, 450px);

}

#planetaRandom {
    width: clamp(70px, 90px, 210px);
}

#crater {
    width: clamp(110px, 110px, 210px);
}

#sol {
    width: clamp(250px, 400px, 500px);

}

#black_hole {
    width: clamp(350px, 850px, 950px);

}

/*
.planetas_agrupados:nth-child(2){

}
*/